<div *ngIf="isActive()" class="container update-component">
  <div *ngIf="!!expectedVersion">
    New version <b>{{expectedVersion}}</b> is available.
    <button (click)="download()">Update now</button>
    <button (click)="cancel()">Cancel</button>
  </div>
  <div *ngIf="ready">
    Press OK and wait — the app will restart automatically.
    <button (click)="update()">OK</button>
  </div>
  <div *ngIf="updating">
    <div *ngIf="!showProgress">Updating...</div>
    <div *ngIf="showProgress">
      <div>Downloading...</div>
        <progressbar [max]="max" type="success" class="progress-striped" [value]="progress">
        </progressbar>
    </div>
  </div>
</div>
